[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
black = "==20.8b1"


[packages]
pydantic = "*"
telethon = "*"
python-decouple = "*"
pyTelegramBotAPI = "*"

[requires]
python_version = "3.8"
